body {
    margin: 8px;
    padding: 50px 50px 50px 50px;
    display: block;
    background-color: gainsboro;
    align-content: center;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

